<~header.html~>         
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-7 align-self-center">
                        <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">Create New Room</h4>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb m-0 p-0">
                                    <li class="breadcrumb-item"><a href="" class="text-muted">Manage Rooms</a></li>
                                    <li class="breadcrumb-item text-muted active" aria-current="page">New Room</li>
                                </ol>
                            </nav>
                        </div>
                    </div>                    
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">                    
                    <div class="col-sm-9 col-md-9">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Create New Room</h4>
                                <form class="mt-3 form-horizontal" id="myForm1" action="/room_edit_{roomId}" method="post">
                                    <div class="form-group row">
                                        <label for="inputHorizontalSuccess"
                                            class="col-sm-3 col-form-label">Room Name</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control {validate}" name="name"
                                                id="inputHorizontalSuccess" placeholder="407C" value="{name_value}">
                                            <div class="invalid-feedback">{name_err}</div>
                                        </div>
                                    </div>                                  
                                    <div class="form-group row">
                                        <label for="inputHorizontalDnger" 
                                            class="col-sm-3 col-form-label">Building</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" name="building"
                                                id="inputHorizontalDnger" placeholder="C" value="{building_value}">
                                            <!-- <div class="invalid-feedback">Sorry, that username's taken. Try another?
                                            </div> -->
                                        </div>
                                    </div>  
                                    <div class="form-actions">
                                        <div class="text-right">
                                            <button type="submit" class="btn btn-info">Submit</button>
                                            <button type="reset" class="btn btn-dark">Reset</button>
                                        </div>
                                    </div>                                                             
                                </form>
                            </div>
                        </div>
                    </div>
                </div>                
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
    <!-- <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                
                reader.onload = function(e) {
                $('#ShowImage')
                        .attr('src', e.target.result)
                        .width(100)
                        .height(100);
                }                
                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }
            
        $("#exampleInputFile").change(function() {
            readURL(this);
        });
    </script> -->
    <script>
        var btn = document.getElementById("submitBtn");
        
        btn.addEventListener("click", function(){
            var form = document.getElementById("myForm1");
            if (form.reportValidity()) {
                form.submit();
            }
        })
    </script>
<~footer.html~>